      #wrapper { padding-bottom:0px !important;  }
			
			#tblStyleBuzz tr, #tblStyleBuzz td{ vertical-align:top !important; }
			
			.firstColumnFirstRow { margin:0px 0px 17px -1px;  }
			.firstColumnSecondRow { margin:17px 0px 0px -1px !important; }
			.firstColumnThirdRow { margin:18px 0px 0px -1px !important; }
			
			/* middle column */
			.secondColumnFirstRow  { margin:0px 0px 17px 8px; }
			.secondColumnSecondRow {  margin: 19px 0px 0 4px;}

			.thirdColumn { margin:0px 0px 17px 5px;  }
			.thirdColumnFirstRow { margin:0px 0px 0px 5px; }
			.thirdColumnLastRow { margin:0px 0px 0px -1px !important; }
			#socialBuzz { margin-top:17px; margin-right:3px;  }
			#footer { box-shadow:none !important; }


/* hide html text off screen */
.txtstylebuzz { text-indent: 100%;
    white-space: nowrap; overflow: hidden; height:1px !important; }
		
		
#stylebuzz p {  padding-right:20px; }	
#stylebuzz h2, #stylebuzzvideo h2 {  font-size:20px; font-weight:bold; padding:0px 0px; margin:0px 0px 20px 0px; }	
#stylebuzz .buzzContainer {     border-bottom: 1px solid #999999;
    float: left;
    margin: 15px 0 10px 25px;
    padding: 0 0 20px;
    position: relative;
    width: 915px !important; }

#stylebuzzvideo {  border-bottom: 1px solid #999999;
    float: left;
    padding: 0 0 0px;
    position: relative;
    width: 915px !important; }
		
#stylebuzzvideo .buzzVideoContainer {     border-bottom: 1px solid #999999;
    float: left;
    margin: 15px 0 10px 120px;
    padding: 0 0 20px;
    position: relative;
    width: 715px !important; }
		
.buzzVideoContent	{ width: 715px !important; text-align:left !important;  }
	
#stylebuzzvideo .shopbtn { position:relative; display:block !important; margin-top:10px; }			
.container {
	width:325px;
	height:514px;
	overflow:hidden;
	position:relative;
	z-index:100;
	background: #fff url(images/resources/images/slider/whitepreloader.gif) no-repeat;
	background-position: 400px 237px
}
.slides {
	position:absolute;
	top:0;
	left:0;
}
.slides div {
	position:absolute;
	top:0;
	width:325px;
	display:none;
}
#loopedSlider {
	width:325px;
	position:relative;
	clear:both;
	margin:0 auto;
	z-index:0 !important;
}
ul.pagination {
	list-style-type: none;
	margin: 9px auto;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 101;
}
ul.pagination li {
	margin-bottom: 7px;
}
ul.pagination a {
	display:block;
	width:22px;
	padding-top:16px;
	height:0;
	overflow:hidden;
	background-image:url(images/resources/images/slider/pagination.png);
	background-position:0 0;
	background-repeat:no-repeat;
}
ul.pagination li.active a {
	background-position:0 -17px
}
a.previous {
	position:absolute;
	top:195px;
	left:-16px;
}
a.next {
	position:absolute;
	top:195px;
	right:-16px;
}
.slideimage {
	float:left;
}
.slidecaption {
	top:50px;
	right:0;
	float:right;
	position:absolute;
	color:#fff;
	padding:15px;
	font-size:12px;
	line-height:18px;
	background:#111;
	width: 465px;
}
.slidecaption a {
	color:#fff;
}
.slidecaption a:hover {
	text-decoration:none;
}
.slidecaptiontitle {
	font-size:26px;
	letter-spacing:-1px;
	font-weight:bold;
	color:#fff;
	display:block;
	padding-bottom:10px;
}
.slidecaptiontitle a {
	color:#fff;
}
.slidecaptiontitle a:hover {
	color:#fff;
	text-decoration:none;
}
img {
	border:none;
}
